<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
<!--bOOTSTRAP CSS CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--bOOTSTRAP JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-ig bg-body-tertiary">
        <div class="container">
            <a href=""class="navbar-brand">Generate QR Code</a>

        </div>
    </nav>

    <!--QR code Form-->
    <div class="container mt-5" style="width: 600px; border: 1px solid #be18d0; padding: 30px;border-radius: 10px;">
        <form action="{% url 'generate_qr_code' %}" method="post">
        {%csrf_token %}

        {{ form.as_p }}

        <button type="submit">Generate QR Code</button>
    </form>
    </div>
</body>
</html>